*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Arial, Helvetica, sans-serif;
}

body{
display:flex;
justify-content:center;
align-items:center;
height:100vh;
background:#eaeaea;
}

.ad-container{
width:970px;
height:250px;
background:#f5f5f5;
overflow:hidden;
position:relative;
display:flex;
align-items:center;
padding:40px;
border:1px solid #ccc;
}

/* LOGO */
.logo{
position:absolute;
top:20px;
left:20px;
}

.logo img{
width:90px;
}

/* TEXT */
.text{
	position: absolute;
max-width:420px;
left:130px;
}

.text h1{
font-size:40px;
margin-bottom:10px;
}

.text p{
font-size:18px;
margin-bottom:20px;
color:#555;
}

.text button{
padding:12px 26px;
border:none;
background:#000;
color:#fff;
cursor:pointer;
border-radius:30px;
font-size:14px;
}

/* IMAGE */
.image{
position:absolute;
right:60px;
bottom:-15px;
}

.buds{
width:320px;
}

/* DISCLAIMER */
.disclaimer{
position:absolute;
bottom:8px;
left:20px;
right:20px;
font-size:10px;
color:#777;
line-height:1.3;
}